<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.name }}</title>
</head>
<body>
    <h1>{{ event.name }}</h1>
    <p>Date: {{ event.date }}</p>
    <p>Location: {{ event.location }}</p>
    <p>Description: {{ event.description }}</p>
    <p>Organizer: {{ event.organizer }}</p>
    <a href="{% url 'event_list' %}">Back to Event List</a>
</body>
</html>
